* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.calendar-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.calendar-header {
  display: flex;
  padding: 0 1rem;
  color: #19145a;
  justify-content: space-between;
  align-items: center;
}

.calendar-nav-arrows {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.calendar-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.75rem;
}

.calendar-cell {
  padding: 0.2rem;
  background-color: #f1f5f9;
  text-align: center;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-cell.date {
  font-size: 1.2rem;
  font-weight: 600;
}

.calendar-appointment-cards {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.calendar-appointment-card {
  border-radius: 28px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.violet {
  background-color: #3734a9;
  color: #f1f5f9;
}

.grey {
  background-color: #dde2f9;
}

.appointment-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-icon {
  height: 36px;
  width: 36px;
  margin-left: 3rem;
}
