* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.appointments-list {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.schedule-title {
  color: #19145a;
}

.day-title {
  color: #969ba0;
}
