body {
  background-color: #dfe2e6;
  height: 100vh;
}
.container {
  margin: 1rem;
  background-color: #ffffff;
  display: flex;
  flex: 1;
  margin: auto;
  width: fit-content;
  padding: 8px;
  border-radius: 42px;
}

.main-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}
