* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.appointment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-icon {
  height: 36px;
  width: 36px;
  margin-left: 3rem;
}

.appointment-card {
  border-radius: 28px;
  background-color: #dde2f9;
  color: #1d1b58;
  font-weight: 500;
  padding: 0.5rem;
  display: inline-block;
}
